


:root {
    --meil-color:rgba(33, 33, 33, 1);
    --mail-color:#FFFFFF;
    --mel-color:rgba(117, 117, 117, 1);
    --mol-color: #2196F3;
    --accent-color:#1b1c1e;
    --zag-color:rgba(255, 255, 255, 1);
    --footer-color:rgba(255, 255, 255, 0.6);
    --focus-color:rgba(33, 150, 243, 1);
    --becgraud-color:rgba(47, 48, 58, 1);
    }
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    font-family: Roboto ,Raleway, sans-serif;
    color:var(--meil-color);
    background-color:var(--mail-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

html{
    box-sizing: border-box;
}
*::before,
*::after{box-sizing: inherit;}

* { 
     list-style:none;
     box-sizing: border-box;
}
ul {padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}
.adress {
    font-style: normal;
}

.container {
    outline: 2px solid red;
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/*-----HEADER-----*/

.heder-container {
    display: flex;
    align-items: center;
    margin: auto;
    
}

.logo{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    color: var(--mol-color);

}
.accent {
    color:var(--accent-color);
}
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}

.heder {
    display: flex;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--meil-color);
    margin-left: auto;

}


.heder .link.current {
    color: var(--mol-color);
}

.heder.link:hover,
.heder.link:focus {
color: var(--mol-color);
}

.stadi {
    color: var(--meil-color);
    cursor: pointer;
    margin-left: 93px;
    margin-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;

}

.stadi:hover,
.stadi:focus {
    color: var(--focus-color);
}
.stadi:current

.header .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mel-color);
    cursor: pointer;
}

.link:hover
.link:focus{color:var(--mol-color);}

.portfolio{margin-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.kontaktu
{   padding-top: 35px;
    padding-bottom: 35px;
    margin-right: 344px;}

.tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mel-color);
    padding-top: 35px;
    padding-bottom: 35px;
    

}
.tel :hover
.tel :focus{color: var(--focus-color);}

.meil{
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--mel-color);
        margin-right: 50px;
        padding-top: 35px;
        padding-bottom: 35px;
    
    }
    .meil:hover
    .meil:focus{color: var(--focus-color);}






    /*-----hero sektion1----*/

.hero {
    background-color:var(--becgraud-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-zag {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--zag-color);
    max-width: 696px;
    height: 120px;
    display: block;
    margin: 0 auto;
}
.hero-but {
    background-color:var(--mol-color);
}

.hero-but {
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--mail-color);
    cursor:pointer;
    display:block;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    width: 152px;
    height: 30px;
    border-radius: 5px;
}
.hero-but:active{color:var(--mol-color);
}

/*--------section detel2--------*/

.detel {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-detel {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--meil-color);
    margin-bottom: 10px;
    
}
.section-tekst{
    font-size: 14px;
    line-height: 24px;
    color:var(--mel-color);
    max-width: 270px;
    height: 72px;
    
    

}
/*----Sektion diy3----*/

.diy{display: flex;
    margin: auto;
    text-align: center;
    
}

.zag-diy{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    color: var(--meil-color);
}

.img-foto {
    display: flex;
    gap: 30px;
    margin: auto;
}

/*-----section comanda4-----*/
.com{background-color: #F5F4FA;;}

.comanda {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 30px;}

.zag-3{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color:var(--meil-color);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    margin:auto;
    margin-bottom: 50px;

}

.section-comanda{
    display:flex;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
}

.img-comanda{
    display: flex;
    width: 270px;
    height: 260px;
    margin: auto;
    gap: 30px;
    flex-basis: calc(100%/4-30px);
}

.section-comandaimg {
    display: flex;
    font-weight: 500;
    line-height: 1.18;
    font-size: 16px;
    color: var(--meil-color);
    
    padding-left:70px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-comandaprof {
    font-weight: 500;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    color:var(--mel-color);

}

/*-------portfolio----*/


.visually-hidden
{   position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;

}

.button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px; 
    gap: 8px;
}

.button-aktiv {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color:var(--mail-color);
    cursor: pointer;
}
.button-aktiv:hover,
.button-aktiv:focus{color:var(--mol-color);}

.button-aktiv {
    background-color:var(--focus-color);

}

.button-link{ background:var(--mail-color);}
.button-link{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;}

.button .link:hover,
.button .link:focus{color: var(--focus-color);}
.item{border-bottom: 1px solid #EEEEEE;}

.robotu-link{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

}
.robotu-link >.item{
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    margin-top: 30px;
}

.img link{
    padding:215px;
    top: 262px;}

.element-robotu{padding: 24px;}

.robotu-neim {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--meil-color);
    margin-top: 20px;
}
.robotu-proekt {
    font-size: 16px;
    line-height: 1.87;
    color: var(--mel-color);
    margin-top: 4px;
}

/*------footer----*/


.accent-footer {
    color: var(--mail-color);
    }

.footer .link {
    cursor: auto;
}

.footer-web  {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    color: var(--mol-color);
    display:block;
    padding-left: 215px;
    padding-top: 60px;
    margin-bottom: 20px;
    
    }

.footer-maps {
    line-height: 1.71;
    color: var(--mail-color);
    margin-bottom: 9px;
}
.footer {
    line-height: 1.71;
    color:var(--footer-color);
    background-color: var(--becgraud-color)
    }

.adress{
    padding-left: 215px;
    padding-bottom: 50px;
}